In [25]:
import pandas as pd

In [26]:
dataset=pd.read_csv("insurance_pre.csv")

In [27]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [28]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [29]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [30]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [31]:
dependent=dataset[['charges']]

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [33]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test-sc.transform(X_test)

            age        bmi  children  sex_male  smoker_yes
578   51.105407  30.288630  1.067464 -0.023787    0.504670
610   46.462420  29.591808  1.067464  0.976766    0.504670
569   47.391018  38.990508  1.236590 -0.023787   -0.981493
1034  59.462783  37.156104  0.898339 -0.023787    0.504670
198   50.176810  20.088165  0.898339  0.976766    0.504670
...         ...        ...       ...       ...         ...
1261  28.819071  36.081487  1.067464 -0.023787    0.504670
494   22.318889  26.510680  1.574841 -0.023787   -0.981493
97    53.891199  37.072149  0.898339 -0.023787    0.504670
418   62.248575  37.810949  1.067464 -0.023787    0.504670
920   60.391381  25.922999  0.898339  0.976766    0.504670

[402 rows x 5 columns]

In [86]:
from sklearn.svm import SVR#Procedure and all SVM concepts are written as mathematical formula in this two lines
regressor=SVR(kernel="sigmoid",C=1.0)#kernel="linear" means, Model will be created by seggregating data with Linear
#kernel="rbf" means non-linear. (radial bais function)
regressor.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='sigmoid', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [87]:
y_pred=regressor.predict(X_test)

In [88]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)
r_score

-0.07344180751441565