In [168]:
import pandas as pd

In [169]:
dataset=pd.read_csv("insurance_pre.csv")

In [170]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [171]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [172]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [173]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [174]:
dependent=dataset[['charges']]

In [175]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [176]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='friedman_mse',max_features='auto')
regressor.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='friedman_mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort=False,
                      random_state=None, splitter='best')

In [177]:
y_pred=regressor.predict(X_test)

In [178]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)
r_score

0.7040626290913634